In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

d = {
    'collage':['FUG','FCT','ABU'],
    'student':['man','bash','zaks'],
    'course':['physics','BCH','mechanical engineering']
}
p = pd.DataFrame(d, index=[i for i in range(1,4)])
print(p)

  collage student                  course
1     FUG     man                 physics
2     FCT    bash                     BCH
3     ABU    zaks  mechanical engineering

In [2]:
p.collage

1    FUG
2    FCT
3    ABU
Name: collage, dtype: object

In [3]:
pd.DataFrame(d)

  collage student                  course
0     FUG     man                 physics
1     FCT    bash                     BCH
2     ABU    zaks  mechanical engineering

In [4]:
data = {
    'item1':pd.DataFrame(np.random.randn(4,3)),
    'item2':pd.DataFrame(np.random.randn(4,2))
}
p = pd.np.array(data)
print(p)

{'item1':           0         1         2
0  0.384831 -0.817472 -1.513621
1  1.115909  0.444779 -0.376659
2  0.979718  0.991454  0.494758
3  0.249668  0.233775 -1.303116, 'item2':           0         1
0  0.500879  0.052013
1  1.246968  1.729137
2  0.696223 -0.908981
3  0.416844  0.326508}

/tmp/ipykernel_5104/3944966548.py:5: FutureWarning: The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead.
  p = pd.np.array(data)